src/*.exe
src/cointest
src/cointestd
src/test_cointest
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cointest

# Compilation and Qt preprocessor part
*.qm
Makefile
cointest-qt
Cointest-Qt.app

# Unit-tests
Makefile.test
cointest-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
